$screen-md-min: 992px;

h2 {
  @media (min-width: $screen-md-min){
    font-size: 3em;
  }

  &:after{
    content: "";
    width: 10%;
    height: 5px;
    background: #FF0066;
    position: absolute;
    bottom: -20%;
    left: 45%;
  }
}

input,textarea{
  background-color: #242426;
  border: 1px solid #353537;
  border-radius: 0;
  color: white;
  padding: 1.7rem 0.75rem;

  &::placeholder{
    color: rgba(253, 253, 253, 0.8);
  }

  &:focus{
    background-color: #242426;
    color: white;
  }
}

textarea{
  height: 10rem;
  padding: 0.375rem 0.75rem;
}
