<div class="row justify-content-center align-items-center vh-100 bg-inherit">
  <div class="container">
    <div class="row mb-5">
      <div class="col-12 text-center">
        <h2>Me contacter</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-12 col-md-9 offset-md-2" *ngIf="!sended" [@fadeInOut]>
        <form [formGroup]="contactForm" (ngSubmit)="onSubmit()">
          <div class="form-row">
            <div class="form-group col-md-6">
              <input type="text" class="form-control" id="name" placeholder="Nom" formControlName="name" [ngClass]="{ 'is-invalid': (f.name.value.length  || submitted) > 0 && f.name.errors, 'is-valid': f.name.valid }">
              <div [ngClass]="{'invalid-feedback': submitted, 'd-none': !submitted}">
                Vous devez entrer un nom
              </div>
            </div>
            <div class="form-group col-md-6">
              <input type="email" class="form-control" id="email" placeholder="Email" formControlName="email" [ngClass]="{ 'is-invalid': (f.email.value.length  || submitted) > 0 && f.email.errors, 'is-valid': f.email.valid }">
              <div [ngClass]="{'invalid-feedback': submitted, 'd-none': !submitted}">
                Vous devez entrer une adresse mail valide
              </div>
            </div>
            <div class="form-group col-md-6">
              <input type="tel" class="form-control" id="phone" placeholder="Téléphone" formControlName="phone" [ngClass]="{ 'is-invalid': (f.phone.value.length  || submitted) > 0 && f.phone.errors, 'is-valid': f.phone.valid }">
              <div [ngClass]="{'invalid-feedback': submitted, 'd-none': !submitted}">
                Votre numéro de téléphone n'est pas valide
              </div>
            </div>
            <div class="form-group col-md-6">
              <input type="text" class="form-control" id="subject" placeholder="Sujet" formControlName="subject" [ngClass]="{ 'is-invalid': (f.subject.value.length  || submitted) > 0 && f.subject.errors, 'is-valid': f.subject.valid }">
              <div [ngClass]="{'invalid-feedback': submitted, 'd-none': !submitted}">
                Veuillez entrer un sujet valide
              </div>
            </div>
            <div class="form-group col-md-12">
              <textarea class="form-control" id="message" placeholder="Votre message" formControlName="message" [ngClass]="{ 'is-invalid': (f.message.value.length > 0 || submitted) && f.message.errors, 'is-valid': f.message.valid }"></textarea>
              <div [ngClass]="{'invalid-feedback': submitted, 'd-none': !submitted}">
                Vous ne pouvez pas envoyer de message vide
              </div>
            </div>
          </div>
          <div class="form-row mt-3">
            <div class="col-12 text-center">
              <button type="submit" class="btn btn-primary px-5 py-3">Envoyer</button>
            </div>
          </div>
        </form>
      </div>
      <div class="col-12 text-center" *ngIf="sended" [@fadeInIn]>
        <h3>Merci pour votre message,<br> je vous recontacterais trés prochainement</h3>
      </div>
    </div>
  </div>
</div>
