<div class="container-fluid">
  <app-navbar></app-navbar>
  <app-main id="main" class="section"></app-main>
  <app-about id="about-me" class="section"></app-about>
  <app-skills id="skills" class="section"></app-skills>
  <app-projects id="projects" class="section"></app-projects>
  <app-contact id="contact" class="section"></app-contact>
  <app-footer class="section"></app-footer>
</div>

