$screen-md-min: 992px;

h2 {
  @media (min-width: $screen-md-min){
    font-size: 3em;
  }

  &:after{
    content: "";
    width: 40%;
    height: 5px;
    background: #FF0066;
    position: absolute;
    bottom: -20%;
    left: 3%;
  }
}

.btn{
  text-transform: uppercase;
}

.btn-transparent{
  color: white;
  border: 1px solid white;
}

img{
  position: relative;
  display: table;

  &:before{
    content: " ";
    top: 0;
    height: 100%;
    width: 100%;
    box-shadow: 500px 0 #000;
    position: absolute;
  }
}
