<div class="row justify-content-center align-items-center min-vh-100 bg-inherit">
  <div class="col-md-3 d-none d-md-block">
    <picture>
      <source srcset="/assets/images/about.webp" type="image/webp">
      <img class="w-100" src="/assets/images/about.jpg" alt="Miloud" title="Miloud">
    </picture>
  </div>
  <div class="col-md-4 offset-1">
    <div class="row">
      <div class="col-12">
        <h2>Qui je suis ?</h2>
      </div>
    </div>
    <div class="row mt-4">
      <div class="col-12">
        <p>
          Je suis Miloud Haboudou, un jeune développeur pour qui programmer est une passion depuis plus de 6 ans. J'ai toujours cherché à apprendre de nouvelles choses tant pour innover que pour m'amuser.
        </p>
        <p>
          J'ai appris à coder principalement grace au PHP, dans un premier temps du code procédural, puis j'ai découvert le magnifique monde de l'objet, toujours dans une optique de m'améliorer j'ai appris a dompter les framework,
          dans un premier temps avec Laravel où j'ai réalisé plusieurs projets pour des amis et entreprises tout en apprenant a utiliser le framework Symfony a coté car plus présent sur le marché du travail.
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col-12 col-md-4">
        <a href="#contact" class="btn btn-primary py-3 w-100">M'engager</a>
      </div>
      <div class="col-12 col-md-5 mt-3 mt-md-0">
        <button class="btn btn-transparent py-3 w-100" (click)="download()">Télécharger mon CV</button>
      </div>
    </div>
  </div>

</div>
