.infos{
  border-bottom: 1px solid #505050;
}

.icons{
    a{
      margin-left: 9%;
      border-radius: 100%;
      border: 1.3px solid white;
      padding: 0.75rem;
      color: white;

      &.select{
        background-color: #FF0066;
        border: 0;
      }
    }
}

span{
  font-size: 0.8rem;
  color: #888888;
}
