<div class="container">
  <div class="row infos py-5">
    <div class="col-md-2 col-sm-12 text-center">
      Miloud
    </div>
    <div class="col-12 col-md-4 offset-md-6 mt-4 mt-md-0 icons">
      <div class="row justify-content-md-end justify-content-center">
        <div class="col-2">
          <a href="https://www.linkedin.com/in/mhaboudou/" target="_blank" rel="noopener" aria-label="Linkedin">
            <fa-icon [icon]="icons.linkedin"></fa-icon>
          </a>
        </div>
        <div class="col-2">
          <a href="https://www.viadeo.com/p/002902yvuoxi19" target="_blank" rel="noopener" aria-label="Viadeo">
            <fa-icon [icon]="icons.viadeo"></fa-icon>
          </a>
        </div>
        <div class="col-2">
          <a href="https://twitter.com/intertoxx" target="_blank" rel="noopener" aria-label="Twitter">
            <fa-icon [icon]="icons.twitter"></fa-icon>
          </a>
        </div>
        <div class="col-2">
          <a href="#" class="select" aria-label="Ce site web">
            <fa-icon [icon]="icons.website"></fa-icon>
          </a>
        </div>
      </div>
    </div>
  </div>
  <div class="row mt-2">
    <div class="col-12 text-center">
      <p class="py-3">
        Copyright 2020 © Miloud. All rights reserved
        <br>
        <span>
          This site is protected by reCAPTCHA and the Google <a href="https://policies.google.com/privacy">Privacy Policy</a> and <a href="https://policies.google.com/terms">Terms of Service</a> apply.
        </span>
      </p>
    </div>
  </div>
</div>
