<header class="navbar navbar-expand-lg navbar-dark">
  <div class="container">
    <h1 class="navbar-brand" href="#">Miloud HABOUDOU</h1>
    <button class="navbar-toggler" type="button" (click)="toogleCollapse()">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div [collapse]="collapsed" class="navbar-collapse">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item active">
          <a class="nav-link" href="#main">Accueil <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#skills">Mes compétences</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#projects">Mes réalisations</a>
        </li>
      </ul>
    </div>
  </div>
</header>
