$screen-md-min: 992px;

header{
  .navbar-brand{
    font-weight: 400;
    font-size: 1.5em;
    margin-right: 0;
    @media (min-width: $screen-md-min){
      font-size: 2em;
      margin-right: 1rem;
    }
}
  @media (min-width: $screen-md-min){
    height: 120px;
  }

  background: #242426!important;
  border-bottom: 1px solid #474748;
}

section:nth-child(odd){
  background: #353537;
}

#main{
  height: calc(100vh - 100px);
}
//font-size: 1.5em;
