$screen-md-min: 992px;

h2 {
  @media (min-width: $screen-md-min){
    font-size: 3em;
  }

  &:after{
    content: "";
    width: 10%;
    height: 5px;
    background: #FF0066;
    position: absolute;
    bottom: -20%;
    left: 45%;
  }
}

::ng-deep{
  .ui-carousel-dot-icon{
    background: white!important;
    border-radius: 50%;
    width: 10px!important;
    height: 10px!important;
  }

  .ui-carousel-item-active{
    .project-details{
      position: relative;

      img{
        width: 100%;
      }

      :hover + .overlay{
        opacity: 1;
        background-color: rgba(0, 0, 0, 0.7);
        box-shadow: inset 4em 0px transparent, inset -4em 0px 0em transparent;
      }


      .overlay {
        position: absolute;
        top: 10%;
        left: 10%;
        right: 10%;
        bottom: 10%;
        transition: background-color .2s;
        opacity: 0;

        a{
          color: white;
        }

        .btn{
          border: 1px solid white;
          border-radius: 0;
        }

        &:hover{
          opacity: 1;
          background-color: rgba(0, 0, 0, 0.7);
          box-shadow: inset 4em 0px transparent, inset -4em 0px 0em transparent;
        }
      }
    }
  }
}
