<div class="row justify-content-center align-items-center min-vh-100 bg-inherit">
    <div class="col-12">
      <div class="row mb-5">
        <div class="col-12 p-0 text-center">
          <h2>Mes réalisations</h2>
        </div>
      </div>
      <div class="row justify-content-center">
        <div class="col-md-7">
          <p-carousel [value]="projects" [numVisible]="3" [numScroll]="3" [responsiveOptions]="responsiveOption">
            <ng-template let-project pTemplate="item">
              <div class="project-details mx-2">
                <img [src]="project.image" [alt]="project.name" [title]="project.name">
                <div class="overlay flex-column align-items-center justify-content-center d-md-flex d-none">
                  <h3 class="project-title text-center">{{ project.name }}</h3>
                  <div class="btn-group mt-3">
                    <a class="btn" [href]="project.url" target="_blank">
                      <fa-icon [icon]="icons.link"></fa-icon>
                    </a>
                    <a class="btn ml-3" (click)="details(detailsModal, project)">
                      <fa-icon [icon]="icons.search"></fa-icon>
                    </a>
                  </div>
                </div>
                <div class="details d-md-none">
                  <h3 class="text-center">{{ project.name }}</h3>
                  <div class="d-flex justify-content-center">
                    <a class="btn">
                      <fa-icon [icon]="icons.link"></fa-icon>
                    </a>
                    <a class="btn ml-3" (click)="details(detailsModal, project)">
                      <fa-icon [icon]="icons.search"></fa-icon>
                    </a>
                  </div>
                </div>
              </div>
            </ng-template>
          </p-carousel>
        </div>
      </div>
    </div>
  </div>

<ng-template #detailsModal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">{{ project.name }}</h4>
    <button type="button" class="close" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <p>
      {{ project.description }}
    </p>

    <div *ngIf="project.stack">
      <h4>Stack :</h4>
      <ul>
        <li *ngFor="let technology of project.stack">
          {{ technology.name }}
        </li>
      </ul>
    </div>
  </div>
</ng-template>
