$screen-md-min: 992px;

h2 {
  @media (min-width: $screen-md-min){
    font-size: 3em;
  }

  &:after{
    content: "";
    width: 30%;
    height: 5px;
    background: #FF0066;
    position: absolute;
    bottom: -20%;
    left: 35%;
  }
}

.card, .list-group-item{
  background: #353537;
}
