<div class="row justify-content-center align-items-center min-vh-100 bg-inherit">
  <div class="col-12">
    <div class="container">
      <div class="row mb-5">
        <div class="col-12 text-center">
          <h2>Mes compétences</h2>
        </div>
      </div>
      <div class="row justify-content-center">
        <div class="col-12 col-md-6">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title text-center">Développement</h5>
              <ul class="list-group list-group-flush">
                <li class="list-group-item">HTML</li>
                <li class="list-group-item">CSS</li>
                <li class="list-group-item">PHP</li>
                <li class="list-group-item">Symfony</li>
                <li class="list-group-item">PHPUnit</li>
                <li class="list-group-item">JavaScript</li>
                <li class="list-group-item">Angular</li>
              </ul>
            </div>
          </div>
        </div>
        <div class="col-12 col-md-6 mt-3 mt-md-0">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title text-center">Opérationel</h5>
              <ul class="list-group list-group-flush">
                <li class="list-group-item">Git</li>
                <li class="list-group-item">Linux</li>
                <li class="list-group-item">Gitlab CI</li>
                <li class="list-group-item">Jenkins</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
