<div class="row justify-content-center align-items-center bg-inherit my-4 my-md-0">
  <div class="col-12 col-md-3 text-center">
    <h2>Salut, je suis Miloud</h2>
    <p class="font-weight-normal">Développeur back-end Symfony/Laravel</p>
    <picture>
      <source srcset="/assets/images/home.webp" type="image/webp">
      <img class="rounded-circle w-100 d-block d-md-none mb-3" src="/assets/images/home.jpg" alt="Miloud" title="Miloud">
    </picture>
    <a href="#about-me" class="btn btn-primary p-3 text-uppercase w-75">Plus d'informations</a>
  </div>
  <div class="d-none d-md-block col-md-4">
    <picture>
      <source srcset="/assets/images/home.webp" type="image/webp">
      <img class="rounded-circle w-100" src="/assets/images/home.jpg" alt="Miloud" title="Miloud">
    </picture>
  </div>
</div>
