/* You can add global styles to this file, and also import other style files */

$primary: #FF0066;
$modal-content-border-radius: 0;

@import "~bootstrap/scss/bootstrap";
@import "~bootswatch/dist/lux/bootswatch";

html, body{
  scroll-behavior: smooth;
}

.grecaptcha-badge{
  display: none;
}

.bg-inherit{
  background: inherit!important;
}
